#temporal {
    height: 12vh;
}

body {
    width: 100vw;
}

.header {
    display: flex;
}

.left {
    display: flex;
    width: 50vw;
    align-items: center;
}

.right {
    display: flex;
    width: 50vw;
    justify-content: right;
    align-items: center;
}